root = true

[*]
indent_style = space
indent_size = 2
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true

[*.md]
indent_size = 4

[*.html]
indent_size = 2

[*.{css, scss}]
indent_size = 2

# Makefiles always use tabs for indentation
[Makefile]
indent_style = tab
indent_size = 8

[*.json]
indent_size = 2
[*.{yml,yaml}]
indent_size = 2

[*.{js,ts}]
indent_size = 2
# Minified JavaScript files shouldn't be changed
[**.min.js]
indent_style = ignore
insert_final_newline = ignore

[*.{sh,bash,zsh}]
indent_size = 2
